:root{
  --main: #d3c7b1;
}

html, body {
  padding: 0;
  margin: 0;
}

html {
  font-family: Arial;
  background: #f5efdd;
}

header {
  background: var(--main);
  color: #fff;
  font-weight: bold;
  padding: 10px;
  width: 100vw;
  height: 2em;
  margin-bottom: 1em;
  top: 0;
  left: 0;
}

header > a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

main {
  width: 90vw;
  margin: auto;
}

button {
  background: var(--main);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
}

input {
  border: 1px solid var(--main);
  padding: 10px;
  border-radius: 4px;
}

#recipes {
  display: flex;
  width: 90%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe {
  padding: 10px;
  background: #f9f9f9;
  border-radius: 10px;
  flex-basis: 25em;
  height: 10em;
  margin: 15px;
  box-shadow: 4px 3px 10px -6px #888888;
}

.title {
  padding: 4px;
}

.ingredient {
  padding: 4px;
  font-size: 12px;
}