:root{
  --blue: #5bb0db;
}

html {
  font-family: Arial;
}

button {
  background: var(--blue);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
}

input {
  border: 1px solid var(--blue);
  padding: 10px;
  border-radius: 4px;
}

#recipes {
  display: flex;
  width: 90%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe {
  padding: 10px;
  background: #f9f9f9;
  border-radius: 5px;
  flex-basis: 25em;
  height: 10em;
  margin: 10px;
}

.title {
  padding: 4px;
}

.ingredient {
  padding: 4px;
  font-size: 12px;
}